/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.org-im {
  background-image: url(../src/components/assets/Rectangle22678.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
   /* filter: blur(2px); */
  /* background: rgba(0, 0, 0, 0.8); */
}
.org-text {
  color: rgba(255, 255, 255, 0.8);
}
.foot {
  background: #010007;
}
.hero-bg {
  background-image: url("../src/components/assets/Maps.png");
  background-color: #F6F9FF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;
  height: 1000px;
  /* background: #F6F9FF; */
  /* opacity: 10%; */
}
.approach-bg {
  background-image: url("../src/components/assets/Circle.png");
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: top right;
  /* background: #F6F9FF; */
  /* opacity: 10%; */
}
.approach-shadow{
   box-shadow: 4px 4px 4px 4px rgba(0, 30, 220, 0.1);
}

.foot-col{

  color: rgba(236, 236, 236, 0.8);
}
  
.foot-border{
  border-right: 1px solid #717070;
}
.foot-bt-bd{
  border-bottom: 1px solid #717070;;
}
.menu-bt{
  border-bottom: 1px solid rgba(6, 10, 35, 0.3);
}
.menu-bb{
  border-top: 1px solid rgba(6, 10, 35, 0.3);
}
.what-bg{
  background-image: url('../src/components/assets/Group\ 8377.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
}