/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


.org-im{
    background-image: url(../src/components/assets/Rectangle22678.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background: rgba(0, 0, 0, 0.8); */

    
}
.org-text{
    color: rgba(255, 255, 255, 0.8);
}
.foot{
 background: #010007;

}